/* CSS reset */
* {
    margin: 0;
    padding: 0;
    
     /* outline: 1px solid red; */
     /* box-sizing: border-box; */
      
      
}

html{
    scroll-behavior: smooth;
}
:root {
    --navbar-height: 59 px:
}
html, body {
    /* overscroll-behavior: none; */
    
        overscroll-behavior: none;
        overflow-x: hidden; /*we need to change this line later, this line is temporary*/
      
      
  }
  
/* navbar  */

#navbar {
    display: flex;



}

#navbar ::before {
    content: "";
    /* background-color: black; */
    position: absolute;
    top: 0px;
    left: 0px;
    height: 80px;
    width: 1700px;
    z-index: -1;
    opacity: 0.4;
    background-color: rgba(15, 15, 20, 0.9);
    backdrop-filter: blur(6px);
    border-bottom: 1px solid #1F1F2A;

}

#logo {
    margin: -20px 150px;
}

#logo img {
    height: 120px;
    width: 120px;
    filter: drop-shadow(0 0 6px rgba(255, 211, 105, 0.2));
}

#navbar ul {
    display: flex;
padding: 0px 0px;
padding-left: 0px;
margin-left: 521px;
}

#navbar ul li {
    list-style: none;
    font-size: 1.6rem;
    padding: 15px 30px;

}

#navbar ul li a {
    display: block;
    padding: 10px 15px;
    /* text-decoration: none; */
    /* color: white; */
    color: #FFD369;
    /* soft yellow accent */
    text-decoration: none;
    border-radius: 20px;

}

#navbar ul li a:hover {
    background-color: #FFD369;
    color: #0F0F14;
    border: none;

}


/* Body color   */
body {

    height: 100%;
    width: 100%;


}




/* hero section */

#home {
    display: flex;
    padding: 200px;
    /* margin: 200px 200px ; */
    /* padding: 10px 10px; */
    margin-left: 200px;
    /* margin-top: 200px; */
    padding-left: 10px;
    padding-right: 100px;
    /* justify-content: center; */


}



body::before {

    content: "";
    background: linear-gradient(180deg, #0F0F14 0%, #12121A 100%);
    color: #EAEAF0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    position: absolute;
    z-index: -1;
    height: 1400px;
    width: 1700px;
    opacity: 0.8px;
}

.h-primary {
    font-size: 4.4rem;
    color: #EAEAF0;

}

.small_header {
    color: #C2C2CF;
    padding-bottom: 15px;
}

.hero_image img {
    margin-top: -180px;
    height: 600px;
    width: 600px;
}

.below_hero {
    color: #C2C2CF;
    padding-top: 10px;
}

#home button {
    /* font-size: 1.4rem; */
    margin-top: 30px;
    padding: 14px 7px;
    position: absolute;
    background-color: #FFD369;
    
    border: none;

    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;

}
#home button a{
    /* font-size: 1.4rem; */
    text-decoration: none;
    color: #0F0F14;
    padding: 14px 7px;
    border-radius: 10px;
    
    /* margin-inline: 30px; */
    /* border-inline: 10px; */

}

#home button:hover {
    background-color: #E6BE5C;


}


/* Subjects  */

#subjects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top: 150px; */

}

#subjects h1 {

    color: #FFFFFF;

    font-size: 36px;
    font-weight: 600;
    margin-bottom: 40px;
}

.subjectcards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    margin-top: 60px;

}

.box {

    cursor: pointer;

    border-radius: 14px;
    background-color: #181822;
    margin-bottom: 8px;
}

.box h2 {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 24px 50px;
    border-radius: 14px;
}

.box :hover {

    background-color: #1F1F2A;
    transform: translateY(-2px);
    transition: 0.2s ease;
}




/* SUBJECT CSS START HERE  */

#navbar_subject{
    display: flex;
    
  }
  #nightowls_subject{
  
  padding-top: 25px;
  font-size: 1.5rem;
  margin-left: -69px;
  
  }
  #nightowls_subject a{
    color: #EAEAF0;
    text-decoration: none;
    
    
  }
  
  #navbar_subject ::before {
    content: "";
    /* background-color: black; */
    position: absolute;
    top: 0px;
    left: 0px;
    height: 80px;
    width: 1700px;
    z-index: -1;
    opacity: 0.4;
    background-color: rgba(15, 15, 20, 0.9);
    backdrop-filter: blur(6px);
    border-bottom: 1px solid #1F1F2A;
  
  }
  #logo_subject {
    margin: -20px 60px;
  }
  #logo_subject img {
    height: 120px;
    width: 120px;
    filter: drop-shadow(0 0 6px rgba(255, 211, 105, 0.2));
  }
  
  
  
  /* body */
  
  body::before {
  
    content: "";
    background: linear-gradient(180deg, #0F0F14 0%, #12121A 100%);
    color: #EAEAF0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    position: absolute;
    z-index: -1;
    height: 1400px;
    width: 1700px;
    opacity: 0.8px;
  }
  
  #subject-title{
    color: #EAEAF0;
  margin-left: 81px;
  margin-top: 70px;
  
  font-size:  3.3rem;;
  }
  #subject-title::after {
    content: "";
    display: block;
    width:80px;
    height: 2px;
    background-color: #ffd369;
    margin-top: 12px;
  } 
  
  
  .subject-page {
    display: flex;
  gap: 40px;
  padding: 88px 102px;
  }
  
  /* Chapters column */
  .chapters {
    width: 30%;
  }
  .chapters,
  .topics {
    margin-top: 20px;
  }
  
  .chapters h3 {
    color: #ffffff;
    margin-bottom: 20px;
  }
  
  .chapters ul {
    list-style: none;
    padding: 0;
  }
  
  .chapter {
    padding: 14px 16px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #181822;
    color: #b8b8c6;
    cursor: pointer;
  }
  
  
    .chapter.active {
      background-color: #1F1F2A;
      border-left: 3px solid #FFD369;
    }
    
  
  .chapters,
  .topics {
    background-color: rgba(255, 255, 255, 0.02);
    padding: 24px;
    border-radius: 16px;
  }
  
  /* Topics column */
  .topics {
    width: 70%;
  }
  
  .topics h3 {
    color: #ffffff;
    margin-bottom: 20px;
  }
  
  .topics ul {
    list-style: none;
    padding: 0;
  }
  
  .topics li {
    /* padding: 12px 16px; */
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #181822;
    color: #b8b8c6;
    cursor: pointer;
  }
  
  
  .topics li:hover {
    background-color: #1f1f2a;
  }
  
  .chapter,
  .topics li {
    font-size: 18px;  /* if currently ~14px */
    line-height: 1.4;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    padding: 16px 18px;
    transition: background-color 0.2s ease, transform 0.2s ease;
    color: #EDEDED;
  }
  
  
  .chapter:hover,
  .topics li:hover {
    background-color: #1f1f2a;
    transform: translateY(-1px);
    color: #FFD369;
  }
  

  


/* Questions page CSS starts here  */

.questions-header {
    padding: 40px 80px 20px;
  }
  
  .questions-header h2 {
    color: #ffffff;
    font-size: 28px;
    margin-bottom: 8px;
  }
  
  .questions-header p {
    color: #b8b8c6;
    font-size: 16px;
  }
  
  /* Questions */
  .questions-container {
    padding: 20px 80px 60px;
  }
  
  .question-card {
    background-color: #181822;
    padding: 20px;
    border-radius: 14px;
    margin-bottom: 16px;
    color: #ededed;
    box-shadow: 0 8px 20px rgba(0,0,0,0.25);
  }
  